<div class="container center-h" style="padding:0.25rem">
  {{> addProduct}}
  {{> deleteProduct}}
</div>
{{> productList}}

<script src="/socket.io/socket.io.js"></script>
<script src="/products.js"></script>
