<form id="deleteProduct">
  <h1>Eliminar Producto</h1>
  <label for="id">Id
    <input type="text" name="id" id="id" placeholder="1" />
  </label>
  <input
    type="submit"
    style="--primary:#d81b60;
    --primary-hover:#9e214f;"
    value="Eliminar"
  />
</form>