.product img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}
.product {
  overflow: hidden;
}

.center-h {
  display: flex;
  justify-content: center;
  gap: var(--grid-spacing-horizontal, 1rem);
}

.center-v {
  display: flex;
  align-items: center;
  gap: var(--grid-spacing-vertical, 1rem);
}
